{% extends 'index.html' %}

{% block title %} Home - April, the Store {% endblock %}
{% block content %}
<div class="welcome-section">
    <h2 style="text-decoration: underline;">Welcome to our store!</h2>
            <p>Welcome to April, The Store - your go-to destination for indie shopping! We specialize in unique and delightful products, with a focus on socks and mugs. </p>
            <p>Our current sales theme showcases the beauty of the cosmos, featuring designs inspired by the moon, stars, rainbow, sky, and galaxy. </p>
            <p>Each item is carefully curated to bring a touch of celestial charm to your daily life.</p>
            <p>Embrace individuality, express your style, and discover one-of-a-kind treasures at April, The Store. </p>
</div>
<div class="product-section"></div>
<div class="back-to-top">
    <a href="#">Back to Top</a>
</div>
<div class="back-to-store">
    <a href="/">Back to Store</a>
</div>

{% endblock %}