{% block title %}Login{% endblock %}
{% block content %}
<h1>Login </h1>
{% if message %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="id_username">Username:</label>
    <input type="text" name="username" maxlength="40" required>
    <small> {{ form.username.help_text}}</small>
    <br>
    <label for="id_password">Password:</label>
    <input type="password" name="password" required>
    <small> {{ form.password.help_text}}</small>
    <br>
    <button type="submit">Login</button>
    <a href="{% url 'user_auth:register' %}">Register</a>
    <a href="{% url 'user_auth:password_change' %}">Forget Password</a>
</form>
{% endblock %}
    
       