{% block title %}Login{% endblock %}
{% block content %}
<h1>Password Change </h1>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'user_auth:password_change' %}">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <small> {{ form.username.help_text}}</small>
    <br>
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" required>
    <small> {{ form.password.help_text}}</small>
    <br>
    <button type="submit" value="Change Password"></button>
    <br>
</form>
{% endblock %}